body 
{
    font-family: Arial, sans-serif;
    background-color: darkcyan;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
.container
{
    border-style: solid;
    border-radius: 15px;
    padding: 20px;
    width: 400px;
    background-color: white;
    border-color: white;
    height: fit-content;
    margin-top: 50px;
    display: none;
}
 h2
{
    text-align: center;
}
.matter strong
{
    color: darkcyan;
}


